* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 20px;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #efefef;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

#titlebar {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0.4rem;
  font-size: 1.2em;
  font-weight: bold;
  width: calc(100% - 40px);
  cursor: pointer;
  letter-spacing: -0.04em;
  background: white;
  outline: none;
  box-shadow: none;
  position: fixed;
  bottom: 20px;
  transition: all 0.2s ease;
}

#start:hover {
  transform: translateY(-10%);
}

iframe  {
  /* height: calc(100% + 200px); */
  width: 100%;
  border: none;
}